<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nexaplayer.mkv.mpg.flv.wmv">

    <library tools:node="removeAll" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- danger permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".NexaPlayerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ParentTabsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AudioPlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".service.AudioPlayerService" />
        <service
            android:name=".service.InitService"
            android:process=":remote" />

        <activity android:name=".activity.ImageSlideShowActivity" />

        <activity
            android:name=".activity.tabs.AudioTabsActivity"
            android:label="@string/title_activity_audio_tabs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.tabs.VideoTabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tabs.ImageTabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tabs.DocumentTabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tabs.SearchTabsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.tabs.FavoriteTabsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>